.tools-wrapper{
  padding-top: 5px;
  background: var(--glass-color);
  width: 96vw;
  margin: 0 auto;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

.element-wrapper {
  font-family: "Sancreek", serif; 
  font-weight: 400;
  background: var(--glass-opacity);
  display: flex;
  width: 85vw;
  margin: 15px auto;
  text-decoration: none;
  color: inherit;
  gap: 30px;
  border-radius: 12px;
  overflow: hidden;
  border: var(--border-color) 3px solid;
  
  box-shadow: var(--box-shadow);
  color: aliceblue;
}

.img-tools-wrapper {
  display: flex;
  border: var(--border-color) 3px solid;
  position: relative;
  width: 85vw;
  height: calc(85vw / 1.6);
  border-radius: 12px;
  overflow: hidden;
  box-shadow:
    inset 3px 3px 5px rgba(0, 0, 0, 0.05),
    inset -3px -3px 5px rgba(255, 255, 255, 0.8);
}

.img-tools-wrapper img {
  display: block;
  object-fit: cover;
  width: 100%;
  
}

.txt-tools-wrapper {
  display: none;
}

.txt-cal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(90vw / 13);
  white-space: nowrap;
  font-weight: normal;
  /* text-shadow: 
    0 0 10px #e9f8f7,
    0 0 20px #00ffea,
    0 0 30px #00ffea; */
  text-shadow:
    0 0 5px #4dbcf0,
    0 0 10px #4dbcf0,
    0 0 15px #4dbcf0,
    0 0 20px #4f18a8,
    0 0 35px #4f18a8,
    0 0 40px #4f18a8,
    0 0 50px #4f18a8,
    0 0 75px #4f18a8;
  animation: neon-flicker 1.5s infinite alternate;
}

@media (min-width: 430px) {
  .element-wrapper {
    width: 75vw;
  }
  .img-tools-wrapper {
    width: 100%;
    height: calc(60vw / 1.6);
    overflow: hidden;
    box-shadow:
      inset 3px 3px 5px rgba(0, 0, 0, 0.05),
      inset -3px -3px 5px rgba(255, 255, 255, 0.8);
  }
  .txt-cal {
    font-size: calc(75vw / 13);
  }
}

@media (min-width: 768px) {
  .tools-wrapper{
    max-width: 1500px;
  }

  .element-wrapper {
    max-width: 800px;
    padding: 10px;
  }

  .txt-tools-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.35;
    font-size: 1.8rem;
    text-align: center;
    
  }
  .img-tools-wrapper {
    flex: 0.65;
    max-height: 250px;
  }
  .txt-cal {
    visibility: hidden;
  }
}

@keyframes neon-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 5px #4dbcf0,
      0 0 10px #4dbcf0,
      0 0 15px #4dbcf0,
      0 0 20px #4f18a8,
      0 0 35px #4f18a8,
      0 0 40px #4f18a8,
      0 0 50px #4f18a8,
      0 0 75px #4f18a8;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
