.green, .red{
    position: fixed;
    
    color: white;
    bottom: 35px;
    padding: 5px 8px;
    font-size: 1.15rem;
    border-radius: 3px;
    transition: all 0.2s ease-in; 
    left:50%;  
    transform: translate(-50%, -50%);
    z-index: 100;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.inActive{
    position: fixed;
    background-color: rgb(15, 11, 218);
    left:50%;
    color: white;
    bottom: -50px;
    padding: 5px 8px;
    font-size: 1.15rem;
    border-radius: 3px;
    transform: translate(-50%, -50%);
}
