.savour-area {
  width: 95vw;
  margin-top: 30px;
}

.savour-wrapper {
  border-top: 4px solid #000;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.productos-title {
  position: relative;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: rgb(27, 77, 25);
}

.productos-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  color: rgb(27, 77, 25);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

.all-savour {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

.all-savour span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frutop {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 15px;
}

.glow {
  box-shadow: 0px 0px 5px 5px rgb(255, 255, 0);
}

#KR,
#FR,
#ER,
#GR,
#AG {
  position: absolute;
  left: 100px;
  top: -18.5px;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: 600px;
  font-family: "Ubuntu";
  color: #ffffff;
  border-radius: 2px;
}

#KR {
  background-color: #000000;
  color: #ffb3b3;
}

#FR {
  background-color: #b1232f;
}

#ER {
  background-color: #d6d3d3;
  color: #000;
}

#GR {
  background-color: #1927a1;
}
#AG {
  background-color: rgb(63, 233, 233);
  color: #191d1f;
}

span {
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

#Uva {
  background-color: rgb(62, 25, 94);
  color: #ffffff;
}

#Negra {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

#Naranja {
  background-color: rgb(212, 86, 13);
  color: #ffffff;
}

#Limon {
  background-color: rgb(21, 145, 68);
  color: #ffffff;
}

#Champagne {
  background-color: rgb(233, 193, 83);
  color: #ffffff;
}

#Manzana {
  background-color: rgb(170, 143, 108);
  color: #ffffff;
}

#Punch {
  background-color: rgb(236, 56, 56);
  color: #ffffff;
}

#Citrus {
  background-color: rgb(255, 214, 30);
  color: #000000;
}

#Melocoton {
  background-color: rgb(207, 136, 4);
  color: #ffffff;
}

#Pera {
  background-color: rgb(182, 172, 39);
  color: #ffffff;
}

#Guanabana {
  background-color: rgb(202, 212, 177);
  color: #000000;
}

#Frambuesa {
  background-color: #d6d3d3;
  color: #000000;
}
#Malta {
  background-color: rgb(75, 53, 21);
  color: #ffffff;
}
#Blueberry {
  background-color: rgb(5, 46, 182);
  color: #ffffff;
}
#Agua-500 {
  background-color: rgb(63, 233, 233);
  color: #191d1f;
}
#Agua-625 {
  background-color: rgb(63, 233, 233);
  color: #191d1f;
}
#Negra-20Oz {
  background-color: rgb(0, 0, 0);
  color: #f7f9fa;
}
#Frutos-Tropicales {
  background-color: rgb(30, 37, 145);
  color: #ffc5c5;
}

.all-savour span:hover {
  transform: scale(1.05);
}

@media (min-width: 1024px) {
  .savour-area {
    width: 1000px;
    margin-inline: 30px;
  }
}
