.full-vis-container {
  padding-top: 5px;
  background: var(--glass-color);
  width: 96vw;
  margin: 0 auto;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-center {
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.no-vis-txt {
  margin: 0 auto;
  color: aliceblue;
  text-align: center;
}

.master-card-visit {
  width: 96vw;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 10px;
}

.wrapper-card-visitor {
  position: relative;
  border: 1.5px rgb(255, 255, 255) solid;
  width: 300px;
  min-height: 380px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.459);
  background-color: rgb(161, 206, 245);
  background-image: url("../../assets/images/card-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.check-finished {
  position: absolute;
  right: -15px;
  top: -15px;
  font-weight: bolder;
  color: aliceblue;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  cursor: pointer;
  border: 1px rgb(202, 202, 202) solid;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.781);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #7a7979;
}

.top-visitor-card {
  width: 100%;
  height: 190px;
  border-radius: 12px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px rgb(134, 160, 134) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
}

.top-visitor-card img {
  height: 100%;
  vertical-align: middle;
}

.bottom-visitor-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.visitor-name {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Cookie", cursive;
  font-style: normal;
}

.visitor-business {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.visitor-area,
.visitor-motivo,
.visitor-autorization {
  font-size: 0.9rem;
}

.hora-visita {
  display: flex;
  gap: 30px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .full-vis-container {
    max-width: 1500px;
  }

  .master-card-visit {
    max-width: 1500px;
    width: 96vw;
    margin: 0 auto; /* better centering */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }

  .master-card-visit.center-less-two-visit {
    display: flex;
    justify-content: center;
    gap:80px;
    flex-direction: row;
  }
  
  .wrapper-card-visitor {
    width: 310px;

    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.459);
    background-color: rgb(161, 206, 245);
    background-image: url("../../assets/images/card-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .top-visitor-card {
    width: 100%;
    height: 190px;
    border-radius: 12px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px rgb(134, 160, 134) solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
  }

  .top-visitor-card img {
    height: 100%;
    vertical-align: middle;
  }

  .bottom-visitor-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .visitor-name {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Cookie", cursive;
    font-style: normal;
  }

  .visitor-business {
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
  }

  .visitor-area,
  .visitor-motivo,
  .visitor-autorization {
    font-size: 0.9rem;
  }

  .hora-visita {
    display: flex;
    gap: 30px;
    margin-top: 8px;
  }
}

@media (min-width: 1050px) {
  .master-card-visit {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .wrapper-card-visitor {
    width: 310px;
    height: 380px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.459);
    background-color: rgb(161, 206, 245);
    background-image: url("../../assets/images/card-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .top-visitor-card {
    width: 100%;
    height: 190px;
    border-radius: 12px;
    overflow: hidden;
    border-radius: 12px;
    border: 1px rgb(134, 160, 134) solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
  }

  .top-visitor-card img {
    height: 100%;
    vertical-align: middle;
  }

  .bottom-visitor-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .visitor-name {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Cookie", cursive;
    font-style: normal;
  }

  .visitor-business {
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
  }

  .visitor-area,
  .visitor-motivo,
  .visitor-autorization {
    font-size: 0.9rem;
  }

  .hora-visita {
    display: flex;
    gap: 30px;
    margin-top: 8px;
  }
}
