.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  height: calc(100vh - 70px);
  min-height: 700px;
  width: 96vw;
  margin: 0 auto;
}

.calculator-border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--border-color);
  min-height: 500px;
  width: 80%;
  border-radius: 12px;
  background: var(--glass-opacity);
  box-shadow: var(--box-shadow);
}
.cantidad-wrapper,
.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

#cantidad-input,
#product-picked {
  width: 170px;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  text-align: center;
}

.cantidad-wrapper, .product-wrapper label{
  font-size: 1.2rem;
  color: var(--text-color);
}

#calcular {
  width: 170px;
  padding: 6px;
  margin: 18px 0;
  background: var(--background-color);
  color: aliceblue;
  font-size: 1.2rem;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

#calcular:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.calculation-result {
  margin-top: 50px;
  width: 80%;
  height: 100px;
  border: 2px solid rgb(58, 4, 109);
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 5px black;
  border-radius: 6px;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #cfc7ee 0%, #ffffff 100%);
  color: rgb(58, 4, 109);
}

@media (min-width: 768px) {
  .calculator-wrapper {
    max-width: 1500px;
    margin-inline: auto;
  }
  #cantidad-input {
    width: 300px;
    padding: 8px;
    font-size: 20px;
  }
  .cantidad-wrapper,
  .product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  #product-picked {
    width: 300px;
    padding: 8px;
  }
  .calculation-result {
    max-width: 600px;
  }
  .calculator-border {
    max-width: 600px;
  }
}
