.Wrapper-report {
  margin: 30px 0;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  width: 95vw;
  padding: 20px;
}

.copy-container {
  position: absolute;
  right: 5px;
  top: 5px;
}

.copy-container img {
  width: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.copy-container img:hover {
  transform: scale(1.1);
}

@media (min-width: 1024px) {
  .Wrapper-report {
    width: 1000px;
    padding: 20px;
  }
}
