.camion-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.ingreso-o-salida {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
  margin-bottom: 10px;
  
  
}

.record-type-button{
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background: linear-gradient(135deg, #aaa6b8 0%, #8675aa 100%);
  transition: all 0.8s ease;
}

.active-type {
  background: #4CAF50; /* green when active */
  color: rgb(255, 255, 255);
  transition: all 0.8s ease;
}

.ingreso-how{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.isIngreso-vacio-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(27, 77, 25);
  font-size: 18px;
}

.lab-input-global-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}

.label-input{
  display: flex;
  gap: 1px;
}

.camion-type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.driver-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.Entry-type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-record {
  position: relative;
  border: 1px solid rgb(27, 77, 25);
  border-radius: 12px;
  width: 95vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(135deg, #5931e9 0%, #2575fc 100%);
}

.top-title-text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 4px;
  border-radius: 6px;
  font-family: "Ubuntu";
  font-size: 16px;
  white-space: nowrap;
  color: rgb(27, 77, 25);
}

label {
  margin-right: 7px;
}

input {
  border: 1px black solid;
  border: none;

  border-radius: 2px;
  background-color: #ececec;
  padding: 3px;
}

input[type="text"]:focus {
  border: 2px rgb(148, 148, 148) solid;
  outline: none;
}

.conduce-differente {
  margin-top: 10px;
}

/* .nombre-completo {
  position: relative;
}
 */
.display-driver {
  position: absolute;
  width: 300px;
  top: 83px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 8px;
  max-height: 150px;
  overflow-y: scroll;
  display: none;
}

.ficha,
.placa-unidad {
  margin-top: 10px;
}

.show {
  display: block;
}

.single-driver {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}

.display-driver span {
  border-radius: 2px;
  color: black;
  background-color: rgb(199, 199, 189);
  /*background-color: #1927a1;*/
}

.display-driver span:hover {
  background-color: rgb(75, 72, 72);
  color: #ececec;
  /*background-color: #1927a1;*/
}

.display-driver span:hover + span {
  background-color: rgb(75, 72, 72);
  color: #ececec;
  /*background-color: #1927a1;*/
}

.display-driver .single-driver:nth-child(even) {
  background-color: rgb(173, 101, 101) !important;
}
.driver-even {
  background-color: rgb(173, 101, 101);
}
.driver-odd {
  background-color: rgb(101, 130, 173);
}

#separador {
  width: 70px;
}

.separador {
  margin-top: 20px;
}

.bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.record-camion-button {
  margin-top: 17px;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(21, 136, 21);
  border: none;
  border-radius: 3px;
  color: #ffffff;
  transition: all 0.1s ease;
}

.record-camion-button:hover {
  transform: scale(1.05);
}

.rec-salida {
  background-color: rgb(121, 19, 19);
}

@media (min-width: 768px) {
  .driver-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .form-record {
    border-radius: 4px;
    width: 800px;
    padding: 15px;
    margin-inline: auto ;
  }
}
